@media (max-width: 1170px) {
  .nav-list {
    display: none;
  }

  .nav-button {
    display: block;
  }

  .nav.open .nav-list {
    display: block;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: fff;

    z-index: 1;

    padding: 40px 30px;
    padding-bottom: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    font-size: 35px;
    font-weight: 700;
  }

  .nav-button {
    position: fixed;
    z-index: 9;
    top: 40px;
    right: 30px;
  }

  .armchair {
    margin: 150px 60px;
    width: 320px;
    height: 320px;
  }

  .header-img {
    text-align: center;
    padding-bottom: 20px;
    margin: 0px 0px;
    margin-left: 0;
  }

  .more {
    margin-top: 130px;
  }

  .more h2 {
    margin-top: 80px;
  }

  .works-imgs {
    text-align: center;
  }

  .works-divan {
    max-width: 430px;
    max-height: 365px;
    object-fit: cover;
  }

  .textile-text h1 {
    font-size: 40px;
  }

  .btn-tt {
    font-size: 19px;
  }

  .advantages h1 {
    font-size: 45px;
  }

  .advantages p {
    font-size: 20px;
  }

  .contacts-button {
    text-align: center;
  }

  .btn {
    width: 400px;
    padding: 7px 20px;
    margin: 0px 0px;
  }
}

@media (max-width: 1070px) {
  .header-row {
    flex-direction: column;
  }

  .armchair {
    margin: 0px 0px;
  }

  .works-divan {
    max-width: 60%;
    max-height: 65%;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .header-heading {
    font-size: 40px;
  }

  .header-heading p {
    font-size: 25px;
  }
}
