.section {
  margin-top: 150px;
}

.section h1 {
  margin-bottom: 700px;
  font-weight: 500px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
}

.textile-gallery {
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  background-color: rgb(233, 222, 210);
  border-radius: 20px;
}

.gallery__card {
  padding: 10px 10px;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.works__gallery__img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.contacts {
  margin-top: 100px;
}
